*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--CharcoalGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    
    p {
        font-size: 13px;
        font-weight: 700;
    }
}

ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

p{
    font-size: 16px;
}

img{
    border-radius: 16px;

}


.email{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    display: flex;
    background-color: white;
    border-radius: 35px;
    padding: 18px;
    max-width: 800px;
    
    h1{
        color: var(--DarkSlateGrey);
        font-weight: 700;
        font-size: 42px;
        margin-top: 35px;
    }

    p{
        color: var(--CharcoalGrey);
    }

    label{
        padding-top: 35px;
        color: var(--DarkSlateGrey);
        font-weight: 700;
        font-size: 14px;
    }

    input{
        all: unset;
        border: var(--Grey) 1.5px solid;
        border-radius: 6px;
        padding:10px;
        text-indent: 14px;
    }
    
    button{
        padding: 14px;
        color: var(--White);
        background: var(--DarkSlateGrey);
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover{
        padding: 14px;
        color: var(--White);
        background: linear-gradient(to right, #F35075, #FF683A);
        border-radius: 6px;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.407);
    }

    span{
        color: red;
        font-size: 12px;
        display: none;
    }
}

.email-label{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.text-container{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-container{
    width: 50%;
    
    img{
        width: 100%;
    }
}

.thanks{
    display: flex;
    flex-direction: column;
    background: var(--White);
    max-width: 350px;
    border-radius: 18px;
    gap: 22px;
    padding: 30px;
    position: absolute;

    span{
        color: var(--DarkSlateGrey);
        font-weight: 700;
    }

    h1{
        font-size: 36px;
        color: var(--CharcoalGrey);
        font-weight: 700;
    }

      
    button{
        padding: 14px !important;
        color: var(--White);
        background: var(--DarkSlateGrey);
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover{
        padding: 14px !important;
        color: var(--White);
        background: linear-gradient(to right, #F35075, #FF683A);
        border-radius: 6px;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.407);
    }
}

.img_mobile{
    display: none;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0 0 0 10px;
}

.desativado{
    display: none;
}

.mobile{
    display: none;
}

@media screen and (max-width: 450px) {
    .card{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 0;
    }

    .card h1{
        margin: 0;
    }
    
    .text-container{
        width: 100%;
    }

    .img_mobile{
        display: block;
    }

    .img_desktop{
        display: none;
    }
    .image-container{
        width: 100%;
    }

    .thanks{
        height: 100%;
        max-width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        gap: 140px;

        button{
           margin-top: 140px;  
        }

    }

    .desativado{
        display: none;
    }
    
}